@import url('form.css');
@import url('table.css');
@import url('dashboard.css');


/* Body */
body { 
    background-color: #F8F8FF;
}

/* Header */
.btn-logout {
    border-color: #FFFAFA;
    color: #FFFAFA;
}

.btn-logout:hover, .btn-logout:active {
    background-color: #FF0000 !important;
    border-color: #FF0000 !important;
    color: #FFFFFF !important;
}

.btn-profile {
    border-color: #FFFAFA;
    color: #FFFAFA;
}

.btn-profile:hover, .btn-profile:active {
    background-color: #FFFAFA !important;
    border-color: #FFFAFA !important;
    color: #000000 !important;
}

.dollar-circle {
    height: 3em;
    width: 3em;
}

.dollar-sign {
    color: #FFFFFF;
    font-size: 1.5em;
}

nav {
    background: linear-gradient(180deg, rgb(0, 80, 160) 100%, rgb(10, 180, 255) 0%);
    padding: 1%;
}

/* Main */
.menu {
    background-color: #FFFFFF;
}

.menu:hover {
    color: #FFFFFF;
}

.menu:active {
    color: #FFFFFF !important;
}

h1 {
    color: #FFFFFF;
    font-size: 1.75rem;
    margin-left: 1rem;
}

/* Login */
.container-login {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 30px;
    max-height: 400px;
    max-width: 350px;
}

.body-login {
    background: url('img/login-background.png') no-repeat center center fixed;
    background-size: cover;
}

.links-login {
    font-size: small;
}