<div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="logout-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <h3 class="modal-title" id="logout-modal-title">Tem certeza que deseja sair?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirm-logout" class="btn btn-primary"><i class="fa-solid fa-check"></i> Sair</button>
                <button type="button" id="cancel-logout" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>